doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    title Todo App 
    // <link rel="stylesheet" href="todo.css" />
  body 
    .wrapper
      .appName Todo
        span.defaultSun#darkLight
      .setTodoBlock
        input(type="text" placeholder="Create a new todo...")#setTodo
        span.checkBtnCreate
      .todoList
        .filterBar
          button#filterBar__quantityOfTodo <span id="quantityOfTodo">0</span> items left
          .filterBar__filterList 
            button.filterBar__filter.filterBar__filter-active All
            button.filterBar__filter Active
            button.filterBar__filter Completed
          button#filterBar__clearCompleted Clear Completed
    <a href="/logout" class="logout">Logout</a>

    // <script src="todo.js"></script>


